<!-- Details on licensing can be found at
     https://github.com/relaunch-community/web-app/tree/main/vendor -->

<!-- BEGIN https://www.apache.org/licenses/LICENSE-2.0 -->
<section id="overview">
  <div class="container flex flex-col max-w-6xl mx-auto md:px-0 text-gray-800">
    <h1 class="max-w-4xl mb-6 mx-auto font-sans text-3xl text-center uppercase font-bold md:text-5xl md:mt-0">
      Anti-Harassment Policy
    </h1>

    <div class="flex flex-col space-y-3 mb-6 max-w-xl mx-auto border-4 border-gray-800 bg-gray-500 p-4 text-white">
      <div>
        <h2 class="font-sans text-xl text-center uppercase font-semibold md:text-3xl md:mt-0">
          Policy Information
        </h2>

        <div class="text-center pt-2 text-gray-100 space-y-1">
          <p>
            Please see the <%= link_to "Relaunch Community-wide Code of Conduct policy", code_of_conduct_url %>,
            which covers expected behavior within any Relaunch Community group's
            public or private spaces, including email lists.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="flex flex-col space-y-3 mb-4 text-gray-900">
    <div class="space-y-2">
      <h2 class="max-w-4xl font-sans text-xl uppercase font-semibold md:text-3xl md:mt-0"
          id="applicability">
        <%= link_to "Applicability", "#applicability" %>
      </h2>

      <p class="">
        All conferences/events organised directly by the Relaunch Community are required
        to have an Anti-Harassment Policy.
        These events will use the policy listed below.
      </p>

      <p>
        All conferences/events organised by an external producer on behalf of the
        Relaunch Community (such as local meetup groups)
        must have an Anti-Harassment Policy.
        We recommend that you use the policy below, but you may use an alternative policy if
        the Relaunch Community organizers approve it.
        Such approval will only be granted provided that the policy provides
        similar coverage, and you supply an explanation for the change.
      </p>

      <p>
        Conferences/events organised by third parties which use Relaunch Community marks
        must have an Anti-Harassment
        Policy.
        The policy must either be the one below or one approved as an alternative by the Relaunch Community.
      </p>
    </div>

    <div class="space-y-2">
      <h2 class="max-w-4xl font-sans text-xl uppercase font-semibold md:text-3xl md:mt-0"
          id="anti-harassment-policy">
        <%= link_to "Anti-Harassment Policy", "#anti-harassment-policy" %>
      </h2>

      <p>
        This policy is based on the one developed
        by <%= link_to "Geek Feminism", "http://geekfeminism.wikia.com/wiki/Conference_anti-harassment_policy" %>
      </p>

      <h3 class="max-w-4xl font-sans uppercase font-semibold md:text-xl md:mt-0"
          id="short-version">
        <%= link_to "Short version (suitable for various footers etc as necessary)", "#short-version" %>
      </h3>

      <p>
        [Event name] is dedicated to a harassment-free experience for
        everyone. Our anti-harassment policy can be found at [URL]
      </p>

      <h3 class="max-w-4xl font-sans uppercase font-semibold md:text-xl md:mt-0"
          id="medium-version">
        <%= link_to "Medium version (for somewhere reasonably prominent on the website and/or the program)", "#medium-version" %>
      </h3>

      <p>
        [Event name] is dedicated to providing a harassment-free experience for
        everyone. We do not tolerate harassment of participants in any form.
        Sexual language and imagery will also not be tolerated in any event venue.
        Participants violating these rules may be sanctioned or expelled
        without a refund, at the discretion of the event organizers. Our
        anti-harassment policy can be found at [URL]
      </p>

      <h3 class="max-w-4xl font-sans uppercase font-semibold md:text-xl md:mt-0"
          id="full-version">
        <%= link_to "Full version (the one posted at [URL])", "#full-version" %>
      </h3>

      <p>
        [Event name] is dedicated to providing a harassment-free experience for
        everyone. We do not tolerate harassment of participants in any form.
        Participants violating these rules may be sanctioned or expelled without
        a refund, at the discretion of the event organizers.
      </p>

      <p>
        Harassment includes offensive verbal comments, deliberate
        intimidation, stalking, following, unwanted photography or recording,
        sustained disruption of talks or other events, inappropriate physical
        contact, and unwelcome sexual attention. Participants asked to stop
        any harassing behaviour are expected to comply immediately.
      </p>

      <p>
        Sexual language and imagery will not be tolerated in any event
        venue, including talks. Exhibitors should also refrain from using
        sexualised images, activities, or other material. Booth staff
        (including volunteers) should not use sexualised
        clothing/uniforms/costumes, or otherwise create a sexualised
        environment.
      </p>

      <p>
        If a participant engages in harassing behaviour, the organizers may
        take any action they deem appropriate, including warning the offender
        or expulsion from the event without a refund. We expect participants
        to follow these rules at all event venues and related social events.
      </p>

      <p>
        If you are being harassed, notice that someone else is being harassed,
        or have any other concerns, please contact a member of the event team
        immediately. The team can be found [registration desk location or similar].
      </p>

      <p>
        The event team will be happy to help participants contact hotel/venue
        security (as available) or local law enforcement, provide escorts to walk
        you to/from your room/car/taxi/etc, or otherwise assist those experiencing
        harassment to feel safe for the duration of the event. We value your attendance.
      </p>

      <ul class="list-disc list-inside ml-2 pl-4">
        <li>You can contact the event team at [organisers email]</li>
        <li>You can find the event team on the day at [registration desk location]</li>
        <li>You can contact the Organizers at organizers at rmfs dot com</li>
        <li>[Phone number for conference security or organizers]</li>
        <li>[Phone number for hotel/venue security (where available)]</li>
        <li>[Local law enforcement]</li>
        <li>[Local sexual assault hot line]</li>
        <li>[Local emergency and non-emergency medical]</li>
        <li>[Local taxi company]</li>
      </ul>
    </div>
  </div>
</section>

<!-- END https://www.apache.org/licenses/LICENSE-2.0 -->
