<footer class="bg-gray-800">
  <div class="container max-w-6xl py-10 mx-auto md:px-6">
    <div class="flex flex-col items-center space-y-6 md:flex-row md:space-y-0 justify-between md:items-start">
      <div class="flex items-center space-y-8 md:items-start md:space-y-4">
        <%# Logo %>
        <%= link_to app_index_url do %>
          <%= image_tag "logo_dark_bg_750px.png", class: "flex-1 mx-auto rounded-full max-h-14 shadow-full-lg shadow-cyan-800/50 hover:shadow-cyan-700/50 duration-200" %>
        <% end %>

        <%# Menu %>
        <div class="flex flex-col items-center space-y-4 text-white md:flex-row md:space-y-0 md:space-x-6 md:ml-3">
          <div class="flex flex-row">
            <%# TODO: other nav items %>

          </div>

          <div class="flex flex-row divide-y md:divide-y-0">
            <!-- https://github.com/tailwindlabs/tailwindcss/discussions/2466 -->
            <div class="h-10 group">
              <%= link_to "Code of Conduct", code_of_conduct_url, class: "no-underline pr-2 md:border-r md:border-white" %>
              <div class="mr-2 group-hover:border-b group-hover:border-2 group-hover:border-cyan-800/50"></div>
            </div>

            <div class="h-10 group">
              <%= link_to "Anti-Harassment Policy", anti_harassment_url, class: "no-underline px-2 md:border-r md:border-white" %>
              <div class="mx-2 group-hover:border-b group-hover:border-2 group-hover:border-cyan-800/50"></div>
            </div>

            <div class="h-10 group">
              <%= link_to "Privacy Policy", privacy_policy_url, class: "no-underline pl-2" %>
              <div class="ml-2 group-hover:border-b group-hover:border-2 group-hover:border-cyan-800/50"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>